* {
    padding: 0px;
    margin: 0px;
}


form {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    border: 1px solid #000;
}

.profession {
    margin: 20px 20px;
}

#non-student {
    margin-left: 35%;
}

#students_option, #non-students_option {
    padding: 10px 20px;
}

#students_option select {
    margin: 0px 30px;
}

#non-students_option  input{
	margin:0px 20px;
	width: 40%;
	/*outline: none;*/
}

/*隐藏元素*/

.hidden {
    display: none;
}